<div class="ui large secondary inverted pointing fluid menu" style="border:none">
    <a class="item" href="#events">
        <i class="search icon"></i> Trouver evenement
    </a>
    <a class="item">
        About
    </a>

    <div class="right item">
        <a class="ui inverted button">Connectez-vous</a>
    </div>
</div>


<div class="ui page container">
    <div>
        <div class="ui vertical masthead center aligned segment" style="margin: 30% auto">
            <div class="ui text container center aligned">
                <h1 class="ui inverted header">
                    Procure toi les tickets des meilleurs events du coin.
                </h1>
                <a class="ui huge teal button" href="connect.html">C'est parti !<i class="right arrow icon"></i></a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('body').backstretch("public/img/background.jpg");
    });
</script>


